/*Fixed styling elements*/
.default-textbox input[type=text], .default-textbox textarea{
  padding-top: 10px;
  margin: 5px;
  padding: 0 10px;
  width: 95%;
  height:50px;
  color: #404040;
  background: white;
  border:1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 3px;
  outline: 5px solid #eff4f7;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  text-align: left;
}
.default-textbox p textarea{
  height: 150px;
  padding-top: 10px;
  resize: none;
}
.default-textbox input[type=text]:focus, textarea:focus{
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

body{
background: #232526; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #000000; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   /*1771AD*/
}

hr {
    height: 1px;
    background-color:#444;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

/*Navigation bar styling*/
.navbar-inverse .navbar-right .btn-primary{
  margin-top: 9px;
  margin-right: 8px;
  border-radius: 15px;
}
.first-nav-bar .navbar-inverse{
  padding-right: 25px;
}
.navbar-inverse{
  border-radius: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
}
.navbar-inverse .container-fluid{
  padding-left: 8px;
  padding-right: 8px;
}
.navbar-inverse .container-fluid .navbar-brand{
  margin-left: 5px;
}
.navbar-inverse .navbar-nav .dropdown-menu{
  background-color: #222;
  border-color: #080808;
}

.navbar-inverse .navbar-nav .dropdown-menu a{
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav .dropdown-menu a:hover{
  color: white;
  background:#222;
}
.navbar-inverse .navbar-nav .dropdown-menu li{
  height: 40px;
  border-top: solid 1px;
  padding-top: 5px;
}
/*carousel*/
#myCarousel{
  margin-bottom: 35px;
}
#myCarousel .carousel-inner .img-responsive{
  width: 100%;
  height: 100%;
  max-height: 380px;
  min-height: 285px;
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
  -o-filter: brightness(60%);
  -ms-filter: brightness(60%);
}

#myCarousel .carousel-caption h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight:bold;
}
#myCarousel .carousel-caption p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.main-banner{
  background:url('../img/research.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  min-height: 380px;
  text-align: center;
}
.main-banner img{
  border: solid 5px #DBDBDB;
}
/*Post section for homepage*/
.post_section{
  font-family: 'Alegreya Sans', sans-serif;
}
.post_section .panel-default .panel-heading{
  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.post_section h4{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.post_section .post{
    -moz-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    -webkit-transition: background .2s ease-in;
    transition: background .2s ease-in;
}

.post_section .post:hover{
    cursor: pointer;
}

.post_section .panel{
  background: rgb(252,255,244); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
}

.post {
    padding: 10px;
    border-bottom: solid 1px #808080;
    overflow: hidden;
}

.post .post_title{
    font-weight: bold;
    font-size: 16px;
    float: left;
    margin: 20px 0 20px 6px;
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: #0492C2;
    font-family: 'Open Sans', sans-serif;
}

.post a{
    text-decoration: none;
    color: #0492C2;
}

.post p{
    float: right;
    width: 100%;
    text-align: right;
    margin-right: 17px;
   font-family: 'Ubuntu', sans-serif;
    color: #777;
}

.post span{
  margin-left: 10px;
}

/*Post page css*/

/*Styling of the post author's section*/
.post_author_section{
    background:#E7DFF0;
    padding: 8px;
    margin-top: 50px;
    border-radius: 10px 10px 0 0;
}
.post_author_section a{
    text-decoration: none;
    color: #0492C2;
}

.post_author_section .left_header{
    float:left;
    margin-top:15px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 5px;
    padding: 12px 10px 20px 10px;
}

.post_author_section p{
    margin-top: 8px;
    color: #3D3C3D;
    padding-top: 4px;
    font-family: 'Source Sans Pro', sans-serif;
}
.post_author_section .label{
    font-weight: bold;
    font-size: 16px;
    color: #3D3C3D;
}

/*Styling of reference list section*/
.references_section{
  padding: 0px;
  background: #F2F2F2;
  border-radius: 0px;
}
.references_section .panel-heading{
  text-align: left;
}
.reference{
    list-style-type: none;
    background-color: white;
    box-shadow: inset 0 0 0 2px #d0d0d0, 0 0 1px rgba(0, 0, 0, 0);
    width: 100%;
    overflow: auto;
    padding: 20px;
    padding-bottom: 5px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.reference div .label{
  width: 25%;
  height: 100%;
  padding: 10px;
  float: right;
  margin-bottom: 10px;
  font-size: 12px;
}

.reference_list{
  padding: 0px;
  margin: 0px;
}

/*Styling the link for adding/viewing suggestions*/
.reference_suggestions a{
  cursor: pointer;
  float: left;
  margin-right:15px;
  text-decoration: none;
}


/*About page*/
/*Banner with background image*/
.about-banner{
  background:url('../img/medical.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 330px;
  padding-top: 100px;
  margin-bottom: 0px;
}
.about-banner h2, .about-banner p{
  padding-top: 10px;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.about-banner h2{
  font-family: '', sans-serif;
  font-size: 34px;
}
.about-banner img{
  border: solid 5px #DBDBDB;
}
/*About section with text*/
.text-header{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  background: #EBE4F0;
  font-family: 'Open Sans', sans-serif;
  color:444345;
}
.text-header h2{
  text-align: center;
}

.text-header p{
  text-align: center;
  color: black;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}


/*Create post page*/
.create_post_form{
  margin-top: 35px;
}
.create_post_form .panel{
  background: #f2f9fe; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f9fe 0%, #d6f0fd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f2f9fe 0%,#d6f0fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 ); /* IE6-9 */

  background: rgb(252,255,244); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
}
.create_post_form .panel-heading{
  margin-bottom: 30px;
  color: black;
  background: #93cede; /* Old browsers */
  background: -moz-linear-gradient(top,  #93cede 0%, #75bdd1 41%, #49a5bf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 ); /* IE6-9 */

  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.create_post_form .label{
  font-size: 16px;
  margin-left: 22px;
}
.create_post_form h1{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.create_post_form input[type=text]{
  width: 85%;
}
.create_post_form textarea{
  width: 85%;
  height: 100px;
  padding-top: 10px;
}
.create_post_form input[type=text], .create_post_form textarea, .create_post_form select{
  margin: 5px;
  padding: 0 10px;
  width: 90%;
  height:50px;
  color: #404040;
  background: white;
  border:1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 3px;
  outline: 5px solid #eff4f7;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  text-align: left;
}
.create_post_form input[type=text]:focus, .create_post_form textarea:focus{
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}
.create_post_form hr{
  border: 0;
  height: 1px;
}
.create_post_form p{
  color:#3A3B3B;
  text-align: left;
  margin-left: 30px;
  font-family: 'Roboto', sans-serif;
}
.create_post_form button{
  margin-left: 20px;
}
#error_message p{
  color: #FF0000;
}


/*Add suggestions page*/
/*Here we style the form for the users to fill*/
.suggestion_form{
  padding: 0px;
  padding-bottom: 20px;
}
.suggestion_form .panel-heading{
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  /*background: #8FD9F2;*/
}
.suggestion_form form p{
  color: black;
  text-align: left;
  margin-left: 15px;
  margin-top: 10px;
}
.suggestion_form form label{
  margin-left: 15px;
}
.suggestion_form form div{
  margin-left: 15px;
}
.suggestion_form input[type=text], textarea{
  margin: 5px;
  padding: 0 10px;
  width: 97%;
  height:50px;
  color: #404040;
  background: white;
  border:1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 3px;
  outline: 5px solid #eff4f7;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  text-align: left;
}
.suggestion_form textarea{
    padding:8px;
    height: 80px;
}
.suggestion_form input[type=text]:focus, textarea:focus{
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

/* View Suggestions page */
.suggestion .modal-content .modal-body{
  background: #F5F1E9;
}
.suggestion .modal-header,.modal-footer{
  text-align: center;
  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.suggestion .suggestion-content{
  padding: 5px;
  margin-top: 15px;
}
.suggestion .suggestion-content .suggestion-label{
  color: #3E81AD;
  margin-bottom: 0px;
}
.suggestion p, .suggestion h3{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #3D3C3D;
  font-family: 'Source Sans Pro', sans-serif;
}
.suggestion .suggestion-content p{
  word-wrap:break-word;
  text-align: left;
  margin-left: 15px;
  font-size: 16px;
}
.suggestion .agreement-buttons{
  float: left;
  text-align: left;
  width: 60%;
}
.suggestion .suggestion-username{
  float: left;
  text-align: left;
  padding-left:10px;
  width: 40%;
}
.suggestion .replies-section p{
  text-align: left;
  margin-left: 15px;
  font-size: 16px;
  margin-bottom: 20px;
}
.suggestion .replies-section .reply{
  margin-left: 55px;
  margin-bottom: 5px;
}
.suggestion .user-header{
  margin-top:0px;
  padding-top:5px;
  padding-bottom:0px;
  margin-bottom:0px;
}

.suggestion{
  border-radius: .2em;
  border: 2px solid #cccccc;

  background: rgb(242,249,254); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 ); /* IE6-9 */
}
